nav{
    height: 50px;
    font-size: large;
    border: 0px solid;
    color: #FFC107;
}
/* div.header{
    margin-left: 30px;
} */
/* form.headerlogin{
    margin-left: 30px;
} */
label.headerlogin{
    size:3px;
}

.div-header{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    align-items: center;
    flex-direction: row;
    height:150%;
    background-color: #91139a;
    display: flex;
    font-size: small;
    justify-content: space-between;
}
.div-svg{
    height: 30px;
    width: 30px;
    padding: 0 20px;
}
.active{
    /* border-bottom: 2px solid firebrick; */
}
.input{
    padding-left : 5px;
    align-items: center;
    /* padding-right: 10px; */
}
/* .btn-primary {
    color: #ffe700;
    background-color: #551f81;
    border-color: #007bff;
  } */