.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    // background-color:  rgb(225, 213, 236);
    background-color: #F0F0F0;
    border: 1px solid black;

    &__logo {
        display: grid;
        place-items: center;
        align-items: center;
        text-align: center;
        height: 120px;
        font-size: 2rem;
        font-weight: 700;
        color: #FFC107; 
        background-color: blueviolet;
        // font-family: 'Mochiy Pop P one', sans-serif;
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #000000;
            // color: #FFC107;
            // transition: color 0.3s ease-in-out;

            &.active {
                color: blueviolet;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-family: 'Tahoma';
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            // width: calc(100% - 40px);
            // border-radius: 10px;
            background-color: #7b177e;
            z-index: -1;
            transform: translateX(-50%);
            font-family: 'Tahoma';
            transition: 0.3s ease-in-out;
        }
    }
}
div.pic{
    margin-left: 10%;
    // border-radius: 20px;
}
img.image{
    border-radius: 50%;
}
p{
    font-size: 1.3rem;
    font-family: 'Tahoma';
    // font-weight: 700;
    // color: rgb(205, 23, 23);
}