.headerpage{
    margin: 3rem;
    /* text-align: center; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height:100%;
    display: flex;
}

.page-login{
    width: 30%;
}
h2 {
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
label{
    margin-top: 1em;
}

.div-button{
    text-align: center;
}


.registerinput .row {
    margin-bottom: 1rem;
}

.container-register h2 {
    margin-bottom: 2rem;
}

.col{
    text-align: left;
}

.term {
    text-align: left;
    margin-bottom: 0.5rem;
}

.form-check{
    text-align: left;
    margin-bottom: 1rem;
}

.bg-page{
    background-color: blueviolet;
    width: 1024px;
}
