.main{
    background-color: #ffff;
    width: 70rem;
    min-height: 40rem;
    max-width: 100%;
    border-radius: 10px;
    
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;

}
.header{
    padding-top: 20px;
    width: auto;
    text-align: center;
}
.card-img-top{
    width: 20rem;
    height:20rem;
    border-radius: 15px;
    margin-top: 5rem;
    margin-left: 2.5rem;
  
 max-width: 100%;
}
.card-group{
    overflow: hidden;  
}
 .card-img-top:hover{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}
 
 .card{
    display:inline-flex;
    
 }