html{
    font-size: calc(60% + 0.8vmin);
}
.main{
    background-color: #ffff;
    min-height: 45rem;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.header{
    padding-top: 20px;
    width: auto;
    text-align: center;
}
.card-img-top{

   width: 20rem;
    height:20rem;
    border-radius: 15px;
    margin-top: 7rem;
    max-width: 100%;
    margin-left: 2rem;
    
 
}
.card-group{
    overflow: hidden;
     margin-left: 9%;
   align-items: center;
   justify-content: center;

}
 .card-img-top:hover{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}
 
 .card{
    display:inline-flex;
    
 }