html{
    font-size: calc(60% + 0.8vmin);
   
    
}
.container-lg-12{
    background-image: url("https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/e/7/d/e7df9905ae_50175413_fitness-sport.jpg");
    margin-left: -3.5rem;
    margin-top: 100px;
    max-width: 100rem;
    max-height: 100%;
    height: 970px;
    /* margin-top: -3rem; */
    
    object-fit: cover;
}
.main{
    margin-left: 0.1rem; 
    max-width: 100%;
    width:1700px;
    max-height: 100%;
    height: 970px;
    margin-top: -3rem;
    background-color: rgba(136, 108, 148, 0.803);
    
    object-fit: cover;
}

.header{
    padding-top: 17%;
    padding-left: 5rem;
    /* color: #FF8C00; */
    color: #FFC107;
    width: auto;
    text-align: center;
    font-size: 8rem;
}

.header1{
    padding-top: 2%;
    padding-left: 5rem;
    color: #ebdfba;
    width: auto;
    text-align: center;
}
.header2{
    padding-top: 2%;
    padding-left: 5rem;
    /* color: #FF8C00; */
    color: #FFC107;
    font-size: 2rem;
    width: auto;
    text-align: center;
}
.header3{
    padding-top: 1%;
    padding-left: 5rem;
    /* color: 	#FF8C00; */
    color: #FFC107;
    width: auto;
    font-size: 4rem;
    text-align: center;
}
.header4{
    padding-top: 1%;
    padding-left: 5rem;
    /* color: #FF8C00; */
    color: #FFC107;
    width: auto;
    font-size: 4rem;
    text-align: center;
}




 
.card-group{
    overflow: hidden;
     margin-left: 9%;
   align-items: center;
   justify-content: center;

}
 .card-img-top:hover{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}
 
 .card{
    display:inline-flex;
    
 }
 .db{
    margin-top: 100px;
 }
