.history{
    /* padding: 5%; */
    margin-left: 5%;
    margin-top: 5%;
    /* height: 800px; */
    width: 1500px;
    border-radius: 40px;
    color:  #FFC107;
    /* align-items: center; */
    /* text-align: center; */
    background-color: blueviolet;
}
.container{
    padding-top: 3%;
    padding-bottom: 5%;
    /* text-align: center;  */
}
.container2{
    /* padding-top: 3%;
    padding-bottom: 5%; */
    background-color: white;
}
.head{
    text-align: left;
}
.menu{
    text-align: left;
}
