.con1{
    max-width: 93.6rem;
    max-height: 100%;
    height: 850px;
    margin-left: -3.5rem;
}
.mainpage{
    max-width: 100%;
    min-width: 1700px;
    
    max-height: 100%;
    height: 850px;
    margin: 0 auto;
    margin-left: 2rem;
    margin-top: 69px;
    object-fit: cover;
   
    background-color: rgba(52, 48, 54, 0.803);


}
.bg-pg{

    max-width: 100%;
    width: 1700px;
    max-height: 100%;
    height: 850px;
    margin: 0 auto;
    margin-left: 1px
  ;
    
}
.box-img{
    max-width: 100%;
    width: 1700px;
}
.img1{
    max-width: 100%;
    width: 1700px;
    height: 600px;
    object-fit: cover;
    margin-left: -1rem;
   
}
.img-menu{
    max-width: 100%;
    width: 1700px;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
     display:flex;
    
   
    background-color: aqua;
}
/* css */
.img2{

    max-width: 100%;
    width: 600px;
    max-height: 100%;
    height: 250px;
    object-fit: cover;
    margin-left: -1rem;
}