.trainer{
    /* padding: 5%; */
    margin-left: 5%;
    margin-top: 5%;
    /* height: 800px; */
    width: 1500px;
    border-radius: 40px;
    color:  #FFC107;
    /* align-items: center;
    text-align: center; */
    background-color: blueviolet;
}
.container{
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center; 
}
.text{
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}
.table{
    text-align: center;
    align-items: center;
}
.hired{
    color: red;
    cursor: not-allowed;
}
.hire{
    color: green;
    cursor: pointer;
}
.menutime{
    text-align: center;
}
